* {
    margin: 0;
    padding: 0;
}
#container {
    width: 800px;
    height: 600px;
    min-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
#left,
#right {
    width: 200px;
    height: 500px;
    border: 1px solid gray;
    background-color: lightblue;
    text-align: center;
    display: inline-block;
}
#left {
    float: left;
}
#right {
    float: right;
}
#leftImage,
#rightImage {
    width: 180px;
    height: 180px;
    margin-left: 10px;
    margin-top: 10px;

}
#leftImage img,
#rightImage img {
    width: 180px;
    height: 180px;
}
#middle {
    width: 350px;
    height: 500px;
    position: relative;
    left: 25px;
    background-color: #FAD4D5;
    display: inline-block;
    overflow: hidden;
}
#leftUp,
#rightDown {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightblue;
}
#leftUp {
    margin-top: -50px;
    margin-left: -50px;
}
#rightDown {
    float: right;
    margin-right: -50px;
    margin-top: 400px;
}